<div id="footer">
	<div class="footer-logos">
		<a href="https://www.ed.ac.uk"><img class="invert-dark" src="{{ '/images/logo_UoE.png' | relative_url }}" alt="The University of Edinburgh logo" height="36" /></a>
		<a href="https://www.northumbria.ac.uk">
			<picture>
				<source srcset="{{ '/images/logo_NU_v2-dark.png' | relative_url }}" media="(prefers-color-scheme:dark)">
				<img class="nu-logo" src="{{ '/images/logo_NU_v2.png' | relative_url }}" alt="Northumbria University logo" height="38" />
			</picture>
		</a>
		<a href="http://www.google.com"><img src="{{ '/images/logo_google.png' | relative_url }}" alt="Google logo" height="30" /></a>
		<a href="http://www.cost.eu"><img src="{{ '/images/logo_cost.png' | relative_url }}" alt="COST logo" height="30" /></a>
		<a href="https://zulip.com/"><img src="{{ '/images/logo_zulip.svg' | relative_url }}" alt="Zulip logo" height="30" /></a>
	</div>
	<p>Developed by researchers in the <a href="http://www.eng.ed.ac.uk">School of Engineering</a> at <a href="http://www.ed.ac.uk">The University of Edinburgh</a>, and in the <a href="https://www.northumbria.ac.uk/about-us/academic-departments/mechanical-and-construction-engineering">School of Engineering, Physics, and Mathematics</a> at <a href="https://www.northumbria.ac.uk">Northumbria University</a>.
		Funded by <a href="http://google.com">Google</a>, a contribution to <a href="http://gpradar.eu">COST Action TU1208 'Civil Engineering Applications of Ground Penetrating Radar'</a>, and sponsored by <a href="https://zulip.com/">Zulip</a>.</p>
	<p>Copyright &copy; 2015-{{ 'now' | date: "%Y" }}, Craig Warren &amp; Antonis Giannopoulos</p>
</div>
