<div id="footer">
	<div class="footer-logos">
		<a href="https://www.ed.ac.uk"><img class="invert-dark" src="{{ '/images/logo_UoE.png' | relative_url }}" alt="The University of Edinburgh logo" height="36" /></a>
		<a href="https://www.northumbria.ac.uk">
			<img class="nu-logo only-light" src="{{ '/images/logo_NU_v2.png' | relative_url }}" alt="Northumbria University logo" height="38" />
			<img class="nu-logo only-dark" src="{{ '/images/logo_NU_v2-dark.png' | relative_url }}" alt="" aria-hidden="true" height="38" />
		</a>
		<a href="https://www.google.com"><img src="{{ '/images/logo_google.png' | relative_url }}" alt="Google logo" height="30" /></a>
		<a href="https://summerofcode.withgoogle.com/">
			<img class="gsoc-logo only-light" src="{{ '/images/logo_GSoC.png' | relative_url }}" alt="Google Summer of Code logo" height="30" />
			<img class="gsoc-logo only-dark" src="{{ '/images/logo_GSoC-dark.png' | relative_url }}" alt="" aria-hidden="true" height="30" />
		</a>
		<a href="https://zulip.com/"><img src="{{ '/images/logo_zulip.svg' | relative_url }}" alt="Zulip logo" height="30" /></a>
	</div>
	<p>Developed by researchers in the <a href="https://www.eng.ed.ac.uk">School of Engineering</a> at <a href="https://www.ed.ac.uk">The University of Edinburgh</a>, and in the <a href="https://www.northumbria.ac.uk/about-us/academic-departments/mechanical-and-construction-engineering">School of Engineering, Physics, and Mathematics</a> at <a href="https://www.northumbria.ac.uk">Northumbria University</a>.
		Supported by <a href="https://www.google.com">Google</a> through six years of
		<a href="https://github.com/gprMax/GSoC">Google Summer of Code</a> (2019, 2021, and 2023&ndash;2026), whose
		students have contributed major features and toolboxes; and sponsored by <a href="https://zulip.com/">Zulip</a>.</p>
	<p>Copyright &copy; 2015-{{ 'now' | date: "%Y" }}, Craig Warren &amp; Antonis Giannopoulos</p>
</div>
